<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home Page</title>
  <link rel="stylesheet" href="css/index1.css">
  <script src="https://kit.fontawesome.com/d4b6d93ef0.js" crossorigin="anonymous"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>
<body>
        {{> navbar1}}

<!-- Second Section -->

<div class="second">
    <div class="text">
        <br>
        <br>
        <h1>Discover, Learn, and Challenge Your Understanding of</h1>
        <h1>Computer Science</h1>
        <div class="p1">
            <p>Welcome to QuizHub, your comprehensive platform for mastering computer science through multiple-choice questions (MCQs). Start exploring now!</p>
        </div>
    </div>
    <div class="img">
        <img src="/images/photo1.png" alt="">
    </div>
</div>

    <!-- Third section -->

<div class="third">
    <div class="sec1">
        <div class="txt">
            <img src="/images/question.png" alt="">
            <h2>Total MCQs</h2>
            <h1>100+</h1>
        </div>
    </div>
    <div class="sec2">
        <div class="txt">
            <img src="/images/topic.png" alt="">
            <h2>Total Topics</h2>
            <h1>100+</h1>
        </div>
    </div>
    <div class="sec3">
        <div class="txt">
            <img src="/images/subtopic.png" alt="">
            <h2>Total Subtopics</h2>
            <h1>100+</h1>
        </div>
    </div>
    <div class="sec4">
        <div class="txt">
            <img src="/images/users.png" alt="">
            <h2>Daily users</h2>
            <h1><span id="visitorCount">20</span></h1>
        </div>
    </div>
</div>

<!-- Fourth Section -->
<div class="fourth">
    <h1>Popular MCQs</h1>
    <hr>
    <p>Explore the most popular Computer Science MCQs accessed by learners on our site</p>
</div>


<!-- Fifth section -->

<div class="fifth">
    <a href="#" class="core1 hover">
        <img src="/images/Software-Engineering-MCQs.png" alt="">
        <h3 class="h5">Software Engineering MCQs</h3>
        <p class="p5">Dive into our comprehensive collection of</p>
        <p class="p5">multiple-choice questions (MCQs) on</p>
        <p class="p5">Software Engineering.</p>
    </a>
    <a href="#" class="core2 hover">
        <img src="/images/Artificial-Intelligence-mcqs-with-answers.png" alt="">
        <h3 class="h5">Artificial Intelligence MCQs</h3>
        <p class="p5">Explore our extensive range of multiple-</p>
        <p class="p5">choice questions (MCQs) centered on</p>
        <p class="p5">Artificial Intelligence.</p>
    </a>
    <a href="#" class="core3 hover">
        <img src="/images/CN.jpg" alt="">
        <h3 class="h5">Computer Networking MCQs</h3>
        <p class="p5">Dive into our comprehensive collection of</p>
        <p class="p5">multiple-choice questions (MCQs) on</p>
        <p class="p5">Computer Networking.</p>
    </a>
    <a href="#" class="core4 hover">
        <img src="/images/os.jpg" alt="">
        <h3 class="h5">Operating System MCQs</h3>
        <p class="p5">Explore our extensive range of multiple-</p>
        <p class="p5">choice questions (MCQs) centered on</p>
        <p class="p5">Operating System.</p>
    </a>
</div>


<!-- slider section -->

<div class="subjects">
    <a href="#"><h3>View All Subjects <i class="fa-solid fa-arrow-right"></i></h3></a>
</div>


<!-- sixth section -->

<div class="sixth">
    <div class="imges">
        <img src="/images/photo2.png">
    </div>
    <div class="heading">
        <h3>Multiple choice Questions(MCQs) are supplemented with detailed explanations, designed to deepen your understanding and encourage critical thinking. Sharpen your skills and test your knowledge with our comprehensive MCQ practice platform</h3>
    </div>
</div>


<!-- seventh section -->

<div class="seventh">
    <h1>Programming Languages MCQs</h1>
    <hr>
    <p>Explore the most popular MCQs on various programming languages</p>
</div>


<!-- eighth section -->

<div class="eighth">
    <a href="#" class="core1 hover">
        <img src="/images/C-Programming-mcqs.png" alt="">
        <h3 class="h5">C Programming MCQs</h3>
        <p class="p5">Delve into our wide-ranging collection of</p>
        <p class="p5">multiple-choice questions (MCQs) on C</p>
        <p class="p5">Programming.</p>
    </a>
    <a href="#" class="core2 hover">
        <img src="/images/Object-Oriented-Programming-Using-C-plus-plus-mcqs.png" alt="">
        <h3 class="h5">Object Oriented Programming Using C++ MCQs</h3>
        <p class="p5">Explore our broad selection of multiple-</p>
        <p class="p5">choice questions(MCQs) on OOP using C++.</p>
    </a>
    <a href="#" class="core3 hover">
        <img src="/images/python-mcqs.png" alt="">
        <h3 class="h5">Python MCQs</h3>
        <p class="p5">Uncover our rich selection of multiple-</p>
        <p class="p5">choice questions (MCQs) based on Python</p>
        <p class="p5">Programming.</p>
    </a>
    <a href="#" class="core4 hover">
        <img src="/images/os.jpg" alt="">
        <h3 class="h5">Java MCQs</h3>
        <p class="p5">Explore our extensive range of multiple-</p>
        <p class="p5">choice questions (MCQs) centered on</p>
        <p class="p5">Java Programming.</p>
    </a>
</div>


<!-- ninth section -->

<div class="ninth">
    <div class="texts">
        <h1>100+ problems</h1>
        <h2>for practice</h2>
    </div>
    <div class="programs">
        <div class="prog hover">
            <div class="t1">
                <i class="fa-solid fa-code"></i>
                <h3>Programming</h3>
            </div>
        </div>
        <div class="react hover">
            <div class="t2">
                <i class="fa-brands fa-react"></i>
                <h3>React</h3>
            </div>
        </div>
        <div class="database hover">
            <div class="t3">
                <i class="fa-solid fa-database"></i>
                <h3>Databases</h3>
            </div>
        </div>
        <div class="puzzle hover">
            <div class="t4">
                <i class="fa-solid fa-puzzle-piece"></i>
                <h3>Puzzle</h3>
            </div>
        </div>
        <div class="script hover">
            <div class="t5">
                <i class="fa-solid fa-scroll"></i>
                <h3>Scripting</h3>
            </div>
        </div>
    </div>
    <div class="last">
        <h2>Start Solving Now!</h2>
    </div>
</div>


<!-- tenth section -->

<div class="tenth">
    <div class="f1">
        <h1>Start preparing for</h1>
    </div>
    <div class="f2">
        <div class="h16">
            <h1>Your Dream Job</h1>
        </div>
    </div>
    <div class="f3">
        <div class="h15">
            <h1>Get Started for free <i class="fa-solid fa-arrow-right"></i></h1>
        </div>
    </div>
</div>


<!-- footer section -->
<footer>
    <div class="main">
        <div class="submain">
            <div class="head">
                <br>
                <br>
                <h3>QuizHub is a comprehensive directory of Objective Type Questions (MCQs) covering all Computer Science subjects. Our platform enables you to access and discuss multiple-choice questions and answers, making it an invaluable resource for competitive exams and interviews.</h3>
            </div>
            <div class="icon">
                <div class="icon1 iconhover">
                    <i class="fa-brands fa-facebook"></i>
                </div>
                <div class="icon1 iconhover">
                    <i class="fa-brands fa-twitter"></i>
                </div>
                <div class="icon1 iconhover">
                    <i class="fa-brands fa-instagram"></i>
                </div>
            </div>
            <div class="email">
                <h4><i class="fa-regular fa-envelope"></i>:contact@quizhub.com</h4>
            </div>
            <div class="info">
                <div class="tags">
                    <a href="#">About Us</a>
                    <a href="#">Contact Us</a>
                    <a href="#">Copyright</a>
                    <a href="#">TOS and Privacy Policy</a>
                </div>
                <div class="write">
                    <h4>Copyright © 2024 Compsciedu.com. All Rights Reserved.</h4>
                </div>
            </div>
        </div>
    </div>
</footer>

<script src="script.js"></script>


<!-- this is to have space at last remove after completing website -->
<!-- <div style="height: 100vh;"></div> -->
</body>
</html>